<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>15_lecture_Bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F99148EF1E7E708F004FD83E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99149081E7E708F004FD83E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99149131E7E7090004FD83E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
